{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<title>Temesgen zenebe - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="The Curriculum Vitae of Temesgen zenebe."/>
<meta charset="UTF-8"> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>



<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade shadow">
	<div class="mainDetails">
		<div id="headshot" class="quickFade ">
			<img src={% static 'images/rasume(1).jpg' %} alt="Alan Smith" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Temesgen T Zenebe</h1>
			<h3 class="quickFade delayThree">Full-Stack Developer</h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><i class="bi bi-envelope-fill mx-2 icon"></i> <a href="mailto:joe@bloggs.com" target="_blank">temf2006@gmail.com</a></li>
				<li><i class="bi bi-telephone-fill mx-2 icon"></i>725-261-1885</li>
				<li><i class="bi bi-geo-alt-fill mx-2 icon"></i>Las Vegas,NV</li>
				<li><i class="bi bi-github mx-2 icon"></i><a href="https://github.com/temesgen-zenebe/">Github</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Career Objective</h1>
				</div>
				
				<div class="sectionContent">
					<p>Recent Full-stack Developer graduate with a passion and expertly combine 
						developing web applications and working across the
						both front-end and back-end development that is scalable for websites and software applications.
						I am looking to join forces with your Technologies team to
						continue to grow my skill set while contributing to the positive
						impacts of making your Company "profitable, secure, and successful."
					</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Full Stack SoftWare Developer <span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>August 29,2022</span></h2>
					<p>Workforce Training & Economic development,Vegas PBS</p>
					<p class="subDetails" ><i class="bi bi-geo-alt-fill me-2 icon"></i>3050 E Flamingo Rd, Las Vegas, NV 89121</p>
				</article>
				<hr class="divider">
				<article>
					<h2>Table Gaming Dealer <span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>2020</span></h2>
					<p> PCI Dealer School.inc</p>
					<p class="subDetails"><i class="bi bi-geo-alt-fill me-2 icon"></i>4575 W Flamingo Rd, Las Vegas, NV 89103</p>					
				</article>
				<hr class="divider">
				<article>
					<h2>Masters in Computer science<span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>2017</span></h2>
					<p>St.mary's University</p>
					<p class="subDetails"><i class="bi bi-geo-alt-fill me-2 icon"></i>Ethiopian,Addis Ababa</p>
					<h4>Relevant Courses : </h4>
					<ul class="keySkills2">
						<li>AI Design</li>
						<li>Data Structures</li>
						<li>Algorithm Design</li>
						<li>Software Design</li>
						<li>software Security</li>
						<li>Database Management</li>
						
					</ul>
				</article>
				<hr class="divider">
				<article>
					<h2>Degeree  in Computer science <span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>2011</span></h2>
					<p>St.mary's University</p>
					<p class="subDetails"><i class="bi bi-geo-alt-fill me-2 icon"></i>Ethiopian,Addis Ababa</p>
				</article>
				<hr class="divider">
				<article>
					<h2>Diplome Marketing Management <span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>2004</span></h2>
					<p>St.mary's University</p>
					<p class="subDetails"><i class="bi bi-geo-alt-fill me-2 icon"></i>Ethiopian,Addis Ababa </p>
					
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Class Final Projects <span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>August 29,2022</span></h2>
					<p class="subDetails1">Vegas PBS Certification of Full Stack SoftWare Developer</p>
					<p><a href="https://github.com/temesgen-zenebe/play2LearnGaming.com.git">Play2learnGame web app </a> that includes two basic games 
						which are Math Practice Game and Anagram hunt word Game
						that utilized the following codes : 
						HTML, CSS, Python, JavaScript, AJAX, jQuery, bootstrap, and  PostgreSQL via Django framework.</p>
				</article>
				<hr class="divider">
				<article>
					<h2>Class Projects <span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>Jun 30,2022</span> </h2>
					<p class="subDetails1">Vegas PBS Certification of Full Stack SoftWare Developer</p>
					<p><a href="https://jackjokes.herokuapp.com/"> Jokes web app </a> that utilized the following codes : 
						HTML, CSS, Python, JavaScript,JSON, AJAX, jQuery, bootstrap, and PostgreSQL via Django framework and 
						using AWS for data wearhous and Deploying to Heroku cloud platform. </p>
				</article>
				<hr class="divider">
				<article>
					<h2>Table Game Dealer <span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>Nov 2019-March 2020</span></h2>
					<p class="">Gold Coast Hotel and Casino.</p>
					<p class="subDetails1"><i class="bi bi-geo-alt-fill me-2 icon"></i>4000 W Flamingo Rd, Las Vegas, NV 89103</p>
					<p>Roll as Dealer : I was deale Blackjack card game and Craps dice game.</p>	
				</article>
				<hr class="divider">
				<article>
					<h2>CEO,Management, and System Administrator <span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>Sep 2012 - Jun 2018</span></h2>
					<p class="">Egole bearing general trading plc.</p>
					<p class="subDetails1"><i class="bi bi-geo-alt-fill me-2 icon"></i>Ethiopia, Addis Ababa, egolebearingplc@gmail.com.</p>
					
					<p>Roll as administrators : I was manage Network , Database, Stock management Software, Server/Web, and Security Systems administration.</p>
					<p>Roll as Management: I was manage Purchasing, and Finance management.</p>
				</article>
				<hr class="divider">
				<article>
					<h2>System software and Marketing strategy Consultance <span class="yearof"><i class="bi bi-calendar3 mx-2 icon"></i>Nov 2016-Jun 2018</span></h2>
					<p>Solo auto spare parts importer plc.</p>
					<p class="subDetails1"><i class="bi bi-geo-alt-fill me-2 icon"></i>Ethiopia,Addis Ababa</p>
					<p>Roll as System software advisor : I was system advisor regarded upon stock & warehouse management software.</p>
					<p>Role as marketing strategy consulting : I was working consultancy specifically importing spare parts from overseas per domestice need in specific market domain.</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
				
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				
				<article>
					<h4>Front-end Languages and Frameworks </h4>
					<ul class="keySkills">
						<li>HTML5</li>
						<li>CSS</li>
						<li>JavaScript</li>
						<li>AJAX</li>
						<li>JSON</li>
						<li>jQuery</li>
						<li>Bootstrap</li>
						<li>Vue.js</li>
					</ul>
					<hr class="divider1">
					<h4>Backend Technologies and Frameworks </h4>
					<ul class="keySkills">
						<li>Python</li>
						<li>Django</li>
						<li>ExpressJS</li>
						<li>NodeJS</li>
						<li>C++</li>
					</ul>
					<hr class="divider1">
					<h4>Database Management Systems</h4>
					<ul class="keySkills">
						<li>PostgreSQL</li>
						<li>MySQL</li>
						<li>db.sqlite3</li>
						<li>LocalStorage</li>
					</ul>
					<hr class="divider1">
					<h4>Cloud web hosting and Data wearhous platforms Systems</h4>
						<ul class="keySkills">
							<li>Heroku hosting </li>
							<li>AWS Data wearhous</li>
						</ul>
					<hr class="divider1">
					<h4>Version Control</h4>
					<ul class="keySkills">
						<li>Github</li>
					</ul>
					
				</article>
				
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Additional</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h4>Languages</h4>
					<p> English and Amharic</p>
				</article>
				<hr class="divider1">
				<article>
					<h4>Commnication</h4>
					<p> Good in Written and verbal commnication.</p>
				</article>
				<hr class="divider1">
				<article>
					<h4>SoftSkills</h4>
					<p>Photoshap, Excel, PowerPoint, and RportWriting.</p>
				</article>
				
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>